* {
    font-family: Verdana, Arial, sans-serif;
}


#grad1 {
    position: relative;
    min-height: 100%;
    background-image: linear-gradient(to right, black, rgb(22, 22, 22));
}

footer {
    text-align: center;
    padding: 3px;
    color: white;
    clear: both;
    width: 100%;
    position: absolute;
    text-decoration: none;
    margin-top: 100px;
  }

  footer a {
    margin-top: 100px;
    text-decoration: none;
  }

/* Encabezado */

.header {
    color: white;
}

.header img {
    float: center;
    width: 25%;
    height: 100%;
    padding: 1px;
    margin-top: 10px;
    border: 1px solid;
    background-color: black;
    color: white;
}

.header h1 {
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.header h2 {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}

.header hr {
    margin-bottom: 20px;
}

.header a {
    text-decoration: none;
}

.header ul {
    color: white;
    margin-left: 10px;
    background-color: white;
    color: black;
    border: 3px solid rgb(167, 167, 167);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
}

.header ol {
    color: white;
    margin-left: 10px;
    background-color: white;
    color: black;
    border: 3px solid rgb(167, 167, 167);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
}

/* Fin Encabezados */

.parrafo {
    color: black;
    /*border: 3px solid white;*/
    padding: 10px;
    background-image: linear-gradient(to right, white, rgb(180, 180, 180));
    width: 98%;
    text-decoration: none;
}

.parrafo a {
    text-decoration: none;
    font-style: italic;
    color: black;
}

/* Menu Nav */

.menunav ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.356));
    background-position: center;
    border-bottom: 1px solid white;
}

.menunav  {
    object-fit: cover;
}

.menunav li {
    /*border: 1px solid white;*/
    float: left;
    text-decoration: none;
    width: 150px;
}

.menunav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 0px solid rgb(0, 0, 0);
}

.menunav > ul > li:not(:nth-child(1)) a {
    background-image: linear-gradient(to bottom right, rgb(32, 32, 32), rgb(0, 0, 0));
    border-bottom: 0px solid white;
    border: 0px solid white;
    
}

/*.menunav strong {
    background-color: black;
}*/

.menunav ul li a:hover {
    background-image: url("./imagenes/cabeza.gif");
    color:white;
    border: 1px solid white;
  }

/* Fin Menunav */

.tablaestilo table, th, td {
    color: white;
    border: 1px solid white;
    margin: 30px;
}

hr.solid {
    border-top: 3px solid #bbb;
  }

.border {
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 20%;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    background-color: black;
}

.botones {
    font-size: large; 
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid;
    padding: 7px;
    background-color: black;
    color: white;
    border-top-width: 20px;
}

.botones:hover {
    font-size: large; 
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid;
    padding: 7px;
    background-color: white;
    color: black;
    border-top-width: 20px;
}

/* Parte Colapsable */

.contenido {
    padding: 10px;
    display: none;
    overflow: hidden;
    background-image: url("./imagenes/cabeza.gif"); /* linear-gradient(to top, black, rgb(19, 1, 1)); <- Por si acaso */
    background-size: 1920px 500px;
    border: 1px solid white;
    margin-left: 30px;
}

.contenido h1 {
    margin: 1px;
    margin-bottom: 15px;
    color: white;
}

.contenido img {
    width: 300px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    border-radius: 25px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.61);
}

.contenido p {
    display: inline-block;
    margin-left: 10px;
    border: 1px white;
    color: white;
    background-color: rgba(0, 0, 0, 0.76); 
    padding: 10px; 
    border-radius: 25px;
}

.colapsable {
    background-color: black;
    margin-left: 30px;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: 1px solid white;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: block;
    width: 25%;
  }

.active {
    background-color: black;
    color: white;
    border: 1px solid white;
    display: block;
}

.colapsable:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    display: inline-block;
}

/* Fin Parte Colapsable */


.borde-gradiente {
    max-width: 1000px;
    padding: 16px;
    position: relative;
    background: linear-gradient(to right, rgb(197, 0, 0), rgba(95, 69, 69, 0));
    padding: 3px;
  }

.borde-gradiente2 {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(207, 207, 207, 0.781));
    color: rgb(0, 0, 0);
    padding: 20px;
    display: inline-block;
  }

.borde-gradiente2 img {
    width: 20%;
    float: right;
    margin-bottom: 1;

  }

.borde-gradiente2 a {
    text-decoration: none;
    color: black;
}